.Counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: auto;
}

.Button { 
    display: inline-flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 12px;
    font-size: 8px;
   
}

.Number {
    display: inline;
    font-size: 20px;
    padding: 20px;
    margin: 0;
    order: 1;
}

.Controls {
    display: inline;
    margin-bottom: 4px;
}